{% load staticfiles %}

<html>

  <head class="header">
    <title>PhotosForAll</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="shortcut icon" href="https://maxcdn.icons8.com/Share/icon/Food//cupcake1600.png" type="image/png">

    <!--Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase" rel="stylesheet">

  </head>

  <body>

    <!--
        ==========
          HEADER
        ==========
    -->

    <div class="header">
      <h1> <a class="name" href="/">PhotosForAll</a><a href="{% url 'photo_new' %}" class="btn">Photo +</a></h1>
    </div>

    <!--
        ===========
          CONTENT
        ===========
    -->
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
    <!--
        ==========
          FOOTER
        ==========
    -->

    <div class="footer">
      <center>
        <h4><a class="git" href="https://github.com/gopjak36/photosforall" target="_blank">GitHub</a></h4>
        <h3><a class="copy" href="/">&copy; PhotosForAll 2017</a></h3>
      </center>
    </div>

  </body>

</html>
