{% extends 'photos/base.html' %}


{% block content %}
  <div class="detail">
    <img class="img_detail" src='{{photo.link}}'>
    <h4 class="title">{{photo.title}}</h4>
    <h5 class="date">{{photo.published_date}}</h5>

    <div id="disqus_thread"></div>
    
      <script>
          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = '//photosforall.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>



{% endblock %}
